Q 20) Calculate probability from the given dataset for the below cases

Data _set: Cars.csv
Calculate the probability of MPG  of Cars for the below cases.
       MPG <- Cars$MPG
a.	P(MPG>38)
b.	P(MPG<40)
c.    P (20<MPG<50)

In [17]:
import numpy as np
import pandas as pd
import scipy.stats as stats
from scipy.stats import norm

In [18]:
cars = pd.read_csv(r'C:\Users\Bssuraj\OneDrive\Desktop\Assignments\Cars.csv')
cars

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [19]:
cars.describe()

               HP        MPG         VOL          SP         WT
count   81.000000  81.000000   81.000000   81.000000  81.000000
mean   117.469136  34.422076   98.765432  121.540272  32.412577
std     57.113502   9.131445   22.301497   14.181432   7.492813
min     49.000000  12.101263   50.000000   99.564907  15.712859
25%     84.000000  27.856252   89.000000  113.829145  29.591768
50%    100.000000  35.152727  101.000000  118.208698  32.734518
75%    140.000000  39.531633  113.000000  126.404312  37.392524
max    322.000000  53.700681  160.000000  169.598513  52.997752

In [26]:
#P(MPG>38)
p_38 = 1 - norm.cdf(38,loc=34.422076,scale=9.131445)
p_38

0.34759394041453007

In [25]:
#P(MPG<40)
p_40 = stats.norm.cdf(40,loc=34.422076,scale=9.131445)
p_40

0.7293498604157946

In [28]:
p_20_mpg_50 = (stats.norm.cdf(0.50,loc=34.422076,scale=9.131445)) - (stats.norm.cdf(0.20,loc=34.422076,scale=9.131445))
p_20_mpg_50

1.2430972133282213e-05